<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<div class="alert alert-success" role="alert" ng-hide="hideLoggedInState()" style="margin-top: 50px; margin-bottom: -40px">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="false"></span>
    <span class="sr-only"></span>
    <span>{{loginHelper.logInMsg}}</span>
</div>

<div class='section' style="margin-top: 50px;">
    <ui-shared-state id='activeTab' default='0'></ui-shared-state>

    <ul class="nav nav-tabs">
      <li ui-class="{'active': activeTab == 0}">
        <a ui-set="{'activeTab': 0}" ng-click="setCurrentStoreId(0)">{{getCurrentStoreName(0)}}</a>
      </li>
      <li ui-class="{'active': activeTab == 1}">
        <a ui-set="{'activeTab': 1}" ng-click="setCurrentStoreId(1)">{{getCurrentStoreName(1)}}</a>
      </li>
      <li ui-class="{'active': activeTab == 2}">
        <a ui-set="{'activeTab': 2}" ng-click="setCurrentStoreId(2)">{{getCurrentStoreName(2)}}</a>
      </li>
    </ul>

    <!-- food item -->
    <div ui-if="activeTab == 0" style="margin-top: 10px;">
        <div class="container">
            <div class="row" ng-repeat="item in getCurrentItems(0)">
                <div class="col-xs-6">
                    <h5>{{item.food}}</h5>
                </div>
                <div class="col-xs-3">
                    <h5>${{item.price}}</h5>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-info btn-sm" ng-click="addFood(item)">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div ui-if="activeTab == 1" style="margin-top: 10px;">
        <div class="container">
            <div class="row" ng-repeat="item in getCurrentItems(1)">
                <div class="col-xs-6">
                    <h5>{{item.food}}</h5>
                </div>
                <div class="col-xs-3">
                    <h5>${{item.price}}</h5>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-info btn-sm" ng-click="addFood(item)">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div ui-if="activeTab == 2" style="margin-top: 10px;">
        <div class="container">
            <div class="row" ng-repeat="item in getCurrentItems(2)">
                <div class="col-xs-6">
                    <h5>{{item.food}}</h5>
                </div>
                <div class="col-xs-3">
                    <h5>${{item.price}}</h5>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-info btn-sm" ng-click="addFood(item)">Add</button>
                </div>
            </div>
        </div>
    </div> <!-- end of food item -->
</div> <!-- end of food item section -->

    <!-- order section -->
    <div class="section">
        <div class="panel panel-default">
            <div class="panel-heading">您的訂單</div>

            <!-- panel body -->
            <div class="panel-body">
                {{orderDescription}}<br><br>
                目前線上可幫買人數: {{numOfHelpers}}
            </div>

            <!-- panel content -->
            <table class="table">
                <tr>
                    <th>食物 (店家)</th>
                    <th>價格</th>
                    <th>數量</th>
                    <th>總價</th>
                </tr>
                <tr ng-repeat="orderedItem in order">
                    <td>
                        <ul class="nav nav-pills">
                            <li ng-click="removeOrderedItem($index)">
                                <span  class="glyphicon glyphicon-remove-circle" ></span>
                            </li>
                            <li>{{orderedItem.food}} ({{orderedItem.storeName}})
                            </li>
                        </ul>
                    </td>
                    <td>{{orderedItem.price}}</td>
                    <td>
                        <span class="glyphicon glyphicon-plus-sign" ng-click="increaseAmount(orderedItem)"></span>
                        <span class="label label-primary">{{orderedItem.amount}}</span>
                        <span class="glyphicon glyphicon-minus-sign" ng-click="decreaseAmount(orderedItem, $index)"></span>
                    </td>
                    <td>$ {{orderedItem.price * orderedItem.amount}}</td>
                    <tfoot>
                        <tr>
                            <td colspan="2">額外費用</td>
                            <td></td>
                            <td>{{extraPay()}}</td>
                        </tr>
                    </tfoot>
                </tr>
            </table>
            <div class="panel-footer" ng-show="order.length > 0">
                <div class="nav nav-pills">
                    <button class="btn btn-success btn pull-left" ng-model="loginHelper.isLoggedIn"  ng-disabled="loginHelper.isLoggedIn == false" ng-click="findHelper()">{{getFindHelperMsg()}}</button>
                    <h4 class="pull-right">總支付費用: $ {{totalPrice()}}</h4>
                </div>
            </div>
        </div>    
    </div> <!-- end of order section -->

    <!-- find helper section -->
    <div class="section" >
        <!-- progress bar -->
        <div class="progress" ng-show="showProgressBar()">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="progressBarStyle">

            </div>
        </div>
        <!-- end of progress bar -->

        <!-- helper info -->
        <div class="panel panel-success" ng-show="progressDone(1)">
            <div class="panel-heading">Helper Info</div>
            <div class="panel-body">您的訂單已成立，以下為幫買人的資訊，請耐心等候</div>
            <table class="table">
                <tr>
                    <td>姓名</td>
                    <td>{{helper.name}}</td>
                </tr>
                <tr>
                    <td>電話號碼</td>
                    <td>{{helper.telephone}}</td>
                </tr>
                <tr>
                    <td>跑腿費用</td>
                    <td>{{extraPay()}}</td>
                </tr>
                <tr>
                    <td>總共費用</td>
                    <td>{{totalPrice()}}</td>
                </tr>
            </table>
        </div>
        <!-- end of helper info -->
        
        <!-- no helper found info -->
        <div class="panel panel-danger" ng-show="progressDone(0)">
            <div class="panel-heading">幫買者資訊</div>
            <div class="panel-body">不好意思，目前沒有幫買的人QAQ</div>
        </div>
        <!-- end no helper found info -->
    </div>
    <!-- end of find helper section -->