<!-- reload css to get default style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<div class="section" style="margin-top: 50px;">
    <p class="bg-info" style="border-radius: 4px; padding-left: 5px; color: gray">目前線上考慮購買人數：{{findHelper.numOfBuyers}}</p>
</div>
<div class="section" style="margin-top: 50px;" ng-show="buyer != null">
    <!-- buyer info -->
    <div class="panel panel-success">
        <div class="panel-heading">訂購人資訊</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>姓名</td>
                    <td>{{buyer.name}}</td>
                </tr>
                <tr>
                    <td>手機</td>
                    <td>{{buyer.telephone}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- end of buyer info -->
    
    <!-- order info -->
    <div class="panel panel-info">
        <div class="panel-heading">訂單資訊</div>
        <table class="table">
            <tr>
                <th>食物 (店家)</th>
                <th>價格</th>
                <th>數量</th>
                <th>小計</th>
            </tr>
            <tr ng-repeat="orderedItem in order">
                <td>
                    <ul class="nav nav-pills">
                        <li>{{orderedItem.food}} ({{orderedItem.storeName}})
                        </li>
                    </ul>
                </td>
                <td>{{orderedItem.price}}</td>
                <td>
                    <span class="label label-primary">{{orderedItem.amount}}</span>
                </td>
                <td>$ {{orderedItem.price * orderedItem.amount}}</td>
                <tfoot>
                    <tr>
                        <td colspan="2">欲支付給店家的費用</td>
                        <td></td>
                        <td>{{total}}</td>
                    </tr>
                </tfoot>
            </tr>
        </table>
        <div class="panel-footer">
            <div class="nav nav-pills">
                <h4 class="pull-right">您這次幫買可獲得的費用: $ {{earn}}</h4>
            </div>
        </div>
    </div>
    <!-- end of order info -->
</div>