<div class="section" style="margin-top: 50px;">
    <div class="panel panel-success">
        <div class="panel-heading">有新的訂單！</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <td>Facebook</td>
                    <td><a href="">{{}}</a></td>
                </tr>
                <tr>
                    <td>Extra Money</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <td>Total to Pay</td>
                    <td>{{}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>