<form class="form-horizontal" role="form" ng-submit="login()">
    <!-- 1. account: email -->
    <div class="form-group">
        <label for="inputAccount" class="col-sm-2 control-label">帳號</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputAccount" placeholder="電子郵件" ng-model="user.account" required>
        </div>
    </div>
    
    <!-- 2. password -->
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 form-control">密碼</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="密碼" ng-model="user.password" required>
        </div>
    </div>
</form>